
.hero-image {
  background-image: url("https://images.pexels.com/photos/9215626/pexels-photo-9215626.jpeg?cs=srgb&dl=pexels-lucas-pezeta-9215626.jpg&fm=jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

:root {
  /* Container Background */
  --blue: #42daff;
  /* Card Background */
  --green: #338a4a;
  /* optional font color */
  --light-green: #b4d9bd;
  /* Container Background and/ optional font color */
  --yellow: #f6d9a2;
  --red: #d9564a;
  --gray: rgba(249, 250, 249, 0.4);
}


/* Font Families
Tinos -- Large Headers, Serif
Source Sans Pro -- Midsize Headers, Sans Serif
Pridi -- text, serif */

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family: 'Pridi', serif; */
  font-size: 16px;
}

h1 {
  font-family: 'Tinos', serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

header h1 {
  color: white;
}

main {
  justify-content: flex-start;
  width: 95%;
  max-width: 1220px;
}

main .tabs {
  height: 6em;
  background-color: var(--gray);
}
main .tabs .indicator {
  background-color: rgba(250,250,250,0.5);
  height: 4px;
}

main .tabs .tab {
  height: 6em;
  border: 1px solid rgba(250,250,250,0.5)
}

main .tabs .tab a {
  font-size: 3rem;
  line-height: 2;
  color: white;
}

main .tabs .tab a:hover,
main .tabs .tab a.active {
  color: white;
}

form.searchbar {
  flex-basis: 100%;
}

.row .col.tab-target {
  min-height: 20rem;
  height: fit-content;
  margin: 0 0.75em;
  width: calc(100% - 1.5em);
  padding: 0;
  background-color: rgba(230,230,230,0.3);
}

nav .input-field label i {
  color: var(--light-green);
}
nav .input-field label.active i {
  color: var(--light-green);
}

.carousel-info .carousel-item {
  font-size: 1.2em;
  padding: 1rem;
}
.carousel-info .carousel-item li:not(:last-of-type) {
  margin-bottom: 1rem
}
.carousel-info .carousel.carousel-slider .carousel-item h2 {
  font-size: 2em;
}
.carousel-info .carousel.carousel-slider .carousel-item ul {
  font-size: 1.1em;
}
.my-blue {
  background-color: var(--blue);
}
.my-green {
  background-color: var(--light-green);
}
.my-yellow {
  background-color: var(--yellow);
}
.my-red {
  background-color: var(--red);
}


.carousel-info .carousel .indicators .indicator-item {
  background-color: rgb(120,120,120,0.3)
}
.carousel-info .carousel .indicators .indicator-item.active {
  background-color: rgb(120,120,120,0.7)
}



/* Search bar */
/* .city-search {
  display: flex;
  flex-direction: column;
  height: 47vh;
  width: 20%;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 10px;
  border: solid;
  margin-bottom: 10px;
} */

/* Added map section css */
/* .map-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 47vh;
  width: 72%;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: solid;
  border-radius: 10px;
} */

 /* .exchange-container {
  display: flex;
  margin: auto;
  background-color: var(--yellow);
  height: 200px;
  width: 100%;
}

.exchange-panel {
  display: flex;
  height: 150px;
  width: 150px;
}
 */
/* #CityInfo .card {
  height: 100%;
} */

/* Added a container for the carousels. */
.carousel-info {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  width: 100%;
  padding: 24px;

  border-radius: 10px;
}

.carousel img{
  width: 45%vw;
}
.carousel-slider {
  /* border: solid; */
  border-radius: 10px;
  margin: 10px 0;
  flex: 1
}

/* Added new class */
.search-data {
  margin: 20px;
}

.map-content {
  display: flex;
  flex-direction: row;
}

.card-panel {
  height: 80vh;
  width: 60rem;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.input-field {
  background: white;
}

.card {
  padding: 10px;
  border-radius: 5px;

}

.container-nav {

  display: flex;
  align-self: left;
  flex-direction: column;
  margin-top: 4px;
  width: 100%;
}


.card-data {
  display: flex;
  margin-bottom: 20px;
}

.head {
  height: 90px !important;
  padding-top: 15px;
}

.toggle {
  display: inline-flex;
  margin-top: 3%;
}

.searchBar {
  height: 100vh;
}

.resultsPanel {
  margin-top: 2%;
  min-height: 40vh;
  display: none;

}

.city-info {
  height: 80vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.btn-large {
  padding: 0 170px;
  font-family: 'Pridi', serif;
  font-size: 16px;
  
}

.collapsible-body{
  padding: 0 !important;
  margin: 0;
  background-color: #D18258;
  border-bottom: #D18258;
}
.collapsible-header{
  padding:20;
}

.container {
  padding: 0;
  margin: 0;

}

.card {
  background-color: #D18258;
  padding:0;
  height:100%;
  
  
}

main > .row {
  width: 100%;
}

.nav-wrapper:not(.city-search) {
  display: flex;
  justify-content: flex-start;
  
  /* background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); */
}

.nav-wrapper p {
  flex-grow: 1;
  text-align: center;
}

.nav-wrapper img {
  margin-left: 10px;
}

  /* display: inline-block;
  flex-direction: row;
} */

#CityMap {
  max-width: calc(100% - 1.5em);
  min-height: 35rem;
  margin: 0 0.75em;
}

#CityInfo p {
  font-size: 1.2rem;
}
#CityInfo p:not(:last-of-type) {
  margin-bottom: 0.5rem;
}



.header-logo {
  display:flex;
}
.opacity {
  background-color: rgba(249, 250, 249, 0.4);    /*  40% opaque green */ 
  font-size: xx-large;
}
.opacityLi {
  background-color: rgba(249, 250, 249, 0.4);
  width:30vw;    /*  40% opaque green */ 
  font-size: xx-large;
}
.logo {
  width: 8em;
  position: absolute;
  left:0;
  top: 0;
}

footer {
  display: flex;
  flex-flow: column nowrap;
}

footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* Media query for the carousels */
@media screen and (max-width: 600px) {
  .carousel-info {
    display: flex;
    flex-direction: column;
  }
}
