:root {
  --blue: rgb(136, 182, 242);
  --green: rgb(156, 217, 171);
  --lightgreen: rgb(180, 217, 189);
  --yellow: rgb(242, 202, 128);
  --red: rgb(217, 86, 74);
}


/* Font Families
Tinos -- Large Headers, Serif
Source Sans Pro -- Midsize Headers, Sans Serif
Pridi -- text, serif */


body {

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-panel {
  height: 80vh;
  width: 75vw;
}

.toggleBtns {
  background: none;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.searchBar {
  background-color: grey;
  margin-top: 2%
}

.results-panel {
  border: solid black 1px;
  margin-top: 2%;
  height: 40vh;
}

.btn-large {
  padding: 0 170px;

  font-family: 'Pridi', serif;
  font-size: 16px;
}

h1 {
  font-family: 'Tinos', serif;
}
h2,h3,h4,h5,h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

.bg-blue {
  background-color: var(--blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-lightgreen {
  background-color: var(--lightgreen);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-red {
  background-color: var(--red);
  color: white;

}